<div class="container-fluid ">
    <h4>Ubicacion actual: </h4>
    <h4>Proceso: </h4>
    <h4>Encargado: </h4>
    <h4>Fecha de recepcion: </h4>
    <h4>Fecha de salida: </h4>
    <h4>Tiempo en área: </h4>
</div>