
body {
    padding: 0px;
}
/*-------------VISTA PRINCIPAL---------------*/
.columnaAccesos .contenedor {
    margin-left: 60px;
}

.columnaAccesos .contenedor .boton {
        height: 60px;
        text-align: center;
    }

.columnaAccesos .boton a {
            font-size: 18px;
            font-family: 'Roboto', sans-serif;
            color: #fff;
            font-weight: bold;
            text-align: center;
            background-color: #5f6ee4;
            width: 100%;
            display: block;
            text-decoration: none;
            padding-bottom: 12.5px;
            padding-top: 12.5px;
        }

.columnaAccesos .contenedor .boton li img {
            padding-top: 20px;
            padding-bottom: 5px;
            padding-left: 30px;
            padding-right: 30px;
            background-color: #fff;
            width: 100%;
}

.columnaAccesos .contenedor .boton li {
            display: block;
            text-decoration: none;
            background-color: #5f6ee4;
            width: 170px;
}

.columnaAccesos .contenedor a:hover {
        text-decoration: none;
        background-color: #2b9dad;
}

.columnaAccesos {
    padding-left: 0px;
    margin: 0px;
    padding-top: 75px;
    padding-bottom: 150px;
}
.botonPapelera {
    /*padding-top: 160px;*/
    margin-top: 160px;
    margin-bottom:0px;
    padding-left: 40%;
}

.bienvenida h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-left:0%;
}

/*-------------VISTAS---------------*/
.headerUno {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: #000000;
    border-bottom: 2px solid #000000;
    margin-bottom: 10px;
}
.headerUno .boton {
    color: red;
}

.headerBuscar {
    padding-top: 5px;
    padding-bottom: 20px;
}

.table {
    color: #000000;
}

.table {
    font-family: 'Roboto', sans-serif;
    align-items: center;
    font-size: 18px;
}

.table .btnTabla {
     border: none;
     align-items: center;
     text-decoration: none;
     background-color: inherit;
 }

.table .btnTabla:hover {
     color: #1c2fc6;
     font-weight: bold;
     cursor: pointer;
}

/*------------------Ubicar documentos-----------------*/
.areasRecorridas {
    /*border: 2px solid #000000;*/
}

.areasR {
    height: 400px;
    overflow-y: scroll;
}

.vistaParcial {
    /*border: 2px solid #000000;*/
}

.headerDoc {
    /*margin-top:10px;*/
}